# Editors (VSCode, IntelliJ, Zed)
.vscode
*.iml
.idea
.zed

# npm
node_modules

# Build output
main.js
*.map
src/binaries/sql-wasm-base64.ts

# Saved settings and output from use
data.json
backups
snapshots

# OS
.DS_Store
